<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<!-- <add key="nuget.org" value="https://api.nuget.org/v3/index.json" /> -->
		<add key="ProjectReunion internal" value="https://microsoft.pkgs.visualstudio.com/ProjectReunion/_packaging/Project.Reunion.nuget.internal/nuget/v3/index.json" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="ProjectReunion internal">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
</configuration>
