<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <clear />
     <!-- <add key="winAppSDK_internal_latest" value="https://pkgs.dev.azure.com/microsoft/_packaging/winAppSDK_internal_latest/nuget/v3/index.json" /> -->
	 <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>